# TASK - 7 : read the dataset using help of pandas for (.csv || .excel || .html || .json)

In [1]:
import pandas as pd

'''
pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license.
'''

# READ_CSV file

For unicode error, use r as it allows to read raw string

For Permission denied error, make sure to fill complete path including filename

In [22]:
superstore = pd.read_csv(r'C:\Users\nithi\OneDrive\Desktop\Sample - Superstore_Orders.csv')

In [23]:
superstore

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales
0,Office Supplies,Houston,United States,Darren Powers,Message Book,03-01-2019,US-2019-103800,77095,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Central,Consumer,07-01-2019,Standard Class,Texas,Paper,0.2,5.5512,2,16.448
1,Office Supplies,Naperville,United States,Phillina Ober,GBC,04-01-2019,US-2019-112326,60540,GBC Standard Plastic Binding Systems Combs,Central,Home Office,08-01-2019,Standard Class,Illinois,Binders,0.8,-5.4870,2,3.540
2,Office Supplies,Naperville,United States,Phillina Ober,Avery,04-01-2019,US-2019-112326,60540,Avery 508,Central,Home Office,08-01-2019,Standard Class,Illinois,Labels,0.2,4.2717,3,11.784
3,Office Supplies,Naperville,United States,Phillina Ober,SAFCO,04-01-2019,US-2019-112326,60540,SAFCO Boltless Steel Shelving,Central,Home Office,08-01-2019,Standard Class,Illinois,Storage,0.2,-64.7748,3,272.736
4,Office Supplies,Philadelphia,United States,Mick Brown,Avery,05-01-2019,US-2019-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,East,Consumer,12-01-2019,Standard Class,Pennsylvania,Art,0.2,4.8840,3,19.536
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10189,Office Supplies,New York City,United States,Patrick O'Donnell,Wilson Jones,30-12-2022,US-2022-143259,10009,Wilson Jones Legal Size Ring Binders,East,Consumer,03-01-2023,Standard Class,New York,Binders,0.2,19.7910,3,52.776
10190,Office Supplies,Fairfield,United States,Erica Bern,GBC,30-12-2022,US-2022-115427,94533,GBC Binding covers,West,Corporate,03-01-2023,Standard Class,California,Binders,0.2,6.4750,2,20.720
10191,Office Supplies,Loveland,United States,Jill Matthias,Other,30-12-2022,US-2022-156720,80538,Bagged Rubber Bands,West,Consumer,03-01-2023,Standard Class,Colorado,Fasteners,0.2,-0.6048,3,3.024
10192,Technology,New York City,United States,Patrick O'Donnell,Other,30-12-2022,US-2022-143259,10009,Gear Head AU3700S Headset,East,Consumer,03-01-2023,Standard Class,New York,Phones,0.0,2.7279,7,90.930
10193,Office Supplies,Charlottetown,Canada,Harry Olson,Wilson Jones,30-12-2022,CA-2022-143500,C0A,Wilson Jones Impact Binders,East,Consumer,03-01-2023,Standard Class,Prince Edward Island,Binders,0.2,-0.6048,3,3.024

In [24]:
superstore.shape   #.shape gives dimension of data frame

(10194, 19)

In [25]:
superstore.columns  # .columns gives list of columns, there is no attribute rows

Index(['Category', 'City', 'Country/Region', 'Customer Name', 'Manufacturer',
       'Order Date', 'Order ID', 'Postal Code', 'Product Name', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State/Province', 'Sub-Category',
       'Discount', 'Profit', 'Quantity', 'Sales'],
      dtype='object')

In [26]:
len(superstore.columns)

19

In [27]:
len(superstore)  #Return the number of items in a container.

10194

In [28]:
superstore.head()

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales
0,Office Supplies,Houston,United States,Darren Powers,Message Book,03-01-2019,US-2019-103800,77095,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Central,Consumer,07-01-2019,Standard Class,Texas,Paper,0.2,5.5512,2,16.448
1,Office Supplies,Naperville,United States,Phillina Ober,GBC,04-01-2019,US-2019-112326,60540,GBC Standard Plastic Binding Systems Combs,Central,Home Office,08-01-2019,Standard Class,Illinois,Binders,0.8,-5.4870,2,3.540
2,Office Supplies,Naperville,United States,Phillina Ober,Avery,04-01-2019,US-2019-112326,60540,Avery 508,Central,Home Office,08-01-2019,Standard Class,Illinois,Labels,0.2,4.2717,3,11.784
3,Office Supplies,Naperville,United States,Phillina Ober,SAFCO,04-01-2019,US-2019-112326,60540,SAFCO Boltless Steel Shelving,Central,Home Office,08-01-2019,Standard Class,Illinois,Storage,0.2,-64.7748,3,272.736
4,Office Supplies,Philadelphia,United States,Mick Brown,Avery,05-01-2019,US-2019-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,East,Consumer,12-01-2019,Standard Class,Pennsylvania,Art,0.2,4.8840,3,19.536

In [29]:
superstore.tail()

,Category,City,Country/Region,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,Segment,Ship Date,Ship Mode,State/Province,Sub-Category,Discount,Profit,Quantity,Sales
10189,Office Supplies,New York City,United States,Patrick O'Donnell,Wilson Jones,30-12-2022,US-2022-143259,10009,Wilson Jones Legal Size Ring Binders,East,Consumer,03-01-2023,Standard Class,New York,Binders,0.2,19.7910,3,52.776
10190,Office Supplies,Fairfield,United States,Erica Bern,GBC,30-12-2022,US-2022-115427,94533,GBC Binding covers,West,Corporate,03-01-2023,Standard Class,California,Binders,0.2,6.4750,2,20.720
10191,Office Supplies,Loveland,United States,Jill Matthias,Other,30-12-2022,US-2022-156720,80538,Bagged Rubber Bands,West,Consumer,03-01-2023,Standard Class,Colorado,Fasteners,0.2,-0.6048,3,3.024
10192,Technology,New York City,United States,Patrick O'Donnell,Other,30-12-2022,US-2022-143259,10009,Gear Head AU3700S Headset,East,Consumer,03-01-2023,Standard Class,New York,Phones,0.0,2.7279,7,90.930
10193,Office Supplies,Charlottetown,Canada,Harry Olson,Wilson Jones,30-12-2022,CA-2022-143500,C0A,Wilson Jones Impact Binders,East,Consumer,03-01-2023,Standard Class,Prince Edward Island,Binders,0.2,-0.6048,3,3.024

In [35]:
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        10194 non-null  object
 1   City            10194 non-null  object
 2   Country/Region  10194 non-null  object
 3   Customer Name   10194 non-null  object
 4   Manufacturer    10194 non-null  object
 5   Order Date      10194 non-null  object
 6   Order ID        10194 non-null  object
 7   Postal Code     10194 non-null  object
 8   Product Name    10194 non-null  object
 9   Region          10194 non-null  object
 10  Segment         10194 non-null  object
 11  Ship Date       10194 non-null  object
 12  Ship Mode       10194 non-null  object
 13  State/Province  10194 non-null  object
 14  Sub-Category    10194 non-null  object
 15  Discount        10194 non-null  float64
 16  Profit          10194 non-null  float64
 17  Quantity        10194 non-null  int64
 18  Sales           10194 non-null  float64
dtypes: float64(3), int64(1), object(15)
memory usage: 1.5+ MB

In [34]:
superstore.describe()

           Discount        Profit      Quantity         Sales
count  10194.000000  10194.000000  10194.000000  10194.000000
mean       0.155385     28.673417      3.791838    228.225854
std        0.206249    232.465115      2.228317    619.906839
min        0.000000  -6599.978000      1.000000      0.444000
25%        0.000000      1.760800      2.000000     17.220000
50%        0.200000      8.690000      3.000000     53.910000
75%        0.200000     29.297925      5.000000    209.500000
max        0.800000   8399.976000     14.000000  22638.480000

In [73]:
type(superstore)

pandas.core.frame.DataFrame

# READ_HTML file

In [3]:
import pandas as pd

In [ ]:
'''
assuming there is at least one table in the file

Keep in mind that the read_html function can extract multiple tables from a single HTML page, 
and it returns a list of DataFrames. You need to identify the appropriate DataFrame from the list based on your
specific requirements.
'''

In [40]:
data1 = pd.read_html(r'C:\Users\nithi\OneDrive\Desktop\dataa2.html')
data1

[  Unnamed: 0_level_0 Average        Red eyes
   Unnamed: 0_level_1  height weight Red eyes
 0              Males     1.9  0.003      40%
 1            Females     1.7  0.002      43%]

In [100]:
print(len(data1))
print(type(data1))

1
<class 'list'>

In [77]:
df = data1[0]  # Access the first table (assuming there is at least one table in the file)
df

  Unnamed: 0_level_0 Average        Red eyes
  Unnamed: 0_level_1  height weight Red eyes
0              Males     1.9  0.003      40%
1            Females     1.7  0.002      43%

In [79]:
type(df)

pandas.core.frame.DataFrame

In [96]:
len(df)

2

In [103]:
print(df.columns)

MultiIndex([('Unnamed: 0_level_0', 'Unnamed: 0_level_1'),
            (           'Average',             'height'),
            (           'Average',             'weight'),
            (          'Red eyes',           'Red eyes')],
           )

In [81]:
df.describe() # Perform operations on the DataFrame

        Average
         height    weight
count  2.000000  2.000000
mean   1.800000  0.002500
std    0.141421  0.000707
min    1.700000  0.002000
25%    1.750000  0.002250
50%    1.800000  0.002500
75%    1.850000  0.002750
max    1.900000  0.003000

In [82]:
df.head()

  Unnamed: 0_level_0 Average        Red eyes
  Unnamed: 0_level_1  height weight Red eyes
0              Males     1.9  0.003      40%
1            Females     1.7  0.002      43%

In [95]:
df.tail()

  Unnamed: 0_level_0 Average        Red eyes
  Unnamed: 0_level_1  height weight Red eyes
0              Males     1.9  0.003      40%
1            Females     1.7  0.002      43%

In [93]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   (Unnamed: 0_level_0, Unnamed: 0_level_1)  2 non-null      object
 1   (Average, height)                         2 non-null      float64
 2   (Average, weight)                         2 non-null      float64
 3   (Red eyes, Red eyes)                      2 non-null      object
dtypes: float64(2), object(2)
memory usage: 196.0+ bytes
None

In [76]:
infoo = pd.read_html(r'C:\Users\nithi\OneDrive\Desktop\xyz.html')
infoo

[          0         1         2
 0  Column 1  Column 2  Column 3
 1  Column 1  Column 2  Column 3
 2  Column 1  Column 2  Column 3]

In [61]:
type(infoo)

list

In [104]:
df = infoo[0]
df

          0         1         2
0  Column 1  Column 2  Column 3
1  Column 1  Column 2  Column 3
2  Column 1  Column 2  Column 3

In [105]:
type(df)

pandas.core.frame.DataFrame

In [109]:
df.columns

Int64Index([0, 1, 2], dtype='int64')

In [110]:
df.shape

(3, 3)

# READ_JSON file

In [57]:
import pandas as pd
asphalt2= pd.read_json(r'C:\Users\nithi\Downloads\asphalt2.json')

In [58]:
asphalt2

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...

In [59]:
asphalt2.shape

(2, 1)

In [60]:
asphalt2.columns

Index(['quiz'], dtype='object')

In [12]:
len(asphalt2.columns)

1

In [62]:
len(asphalt2)

2

In [63]:
type(asphalt2)

pandas.core.frame.DataFrame

In [111]:
asphalt2.describe()

                                                     quiz
count                                                   2
unique                                                  2
top     {'q1': {'question': '5 + 7 = ?', 'options': ['...
freq                                                    1

# READ_XLSX file

In [64]:
import pandas as pd

In [65]:
data=pd.read_excel(r'C:\Users\nithi\OneDrive\Desktop\sample.xlsx')

In [66]:
data

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Excel 2007 (xlsx) Sample Worksheet,NaN
2,NaN,NaN,NaN,Created with Microsoft Excel 2007 SP1,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,X,Y
5,NaN,NaN,NaN,0.718521,0.916826
6,NaN,NaN,NaN,0.488513,0.675336
7,NaN,NaN,NaN,0.982756,0.975685
8,NaN,NaN,NaN,0.599483,0.195164
9,NaN,NaN,NaN,0.192747,0.089876
10,NaN,NaN,NaN,0.173891,0.292433
11,NaN,NaN,NaN,0.256903,0.24113
12,NaN,NaN,NaN,0.790662,0.421155
13,NaN,NaN,NaN,0.558927,0.528088
14,NaN,NaN,NaN,0.036697,0.740989
15,NaN,NaN,NaN,0.434829,0.585719
16,NaN,NaN,NaN,0.925647,0.578595
17,NaN,NaN,NaN,0.085392,0.62102
18,NaN,NaN,NaN,0.424134,0.511223
19,NaN,NaN,NaN,0.199393,0.8332
20,NaN,NaN,NaN,0.24813,0.682089
21,NaN,NaN,NaN,0.355641,0.147124

In [67]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Excel 2007 (xlsx) Sample Worksheet,NaN
2,NaN,NaN,NaN,Created with Microsoft Excel 2007 SP1,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,X,Y

In [68]:
data.tail()

    Unnamed: 0  Unnamed: 1  Unnamed: 2 Unnamed: 3 Unnamed: 4
17         NaN         NaN         NaN   0.085392    0.62102
18         NaN         NaN         NaN   0.424134   0.511223
19         NaN         NaN         NaN   0.199393     0.8332
20         NaN         NaN         NaN    0.24813   0.682089
21         NaN         NaN         NaN   0.355641   0.147124

In [69]:
data.info

<bound method DataFrame.info of     Unnamed: 0  Unnamed: 1  Unnamed: 2                             Unnamed: 3  \
0          NaN         NaN         NaN                                    NaN
1          NaN         NaN         NaN     Excel 2007 (xlsx) Sample Worksheet
2          NaN         NaN         NaN  Created with Microsoft Excel 2007 SP1
3          NaN         NaN         NaN                                    NaN
4          NaN         NaN         NaN                                      X
5          NaN         NaN         NaN                               0.718521
6          NaN         NaN         NaN                               0.488513
7          NaN         NaN         NaN                               0.982756
8          NaN         NaN         NaN                               0.599483
9          NaN         NaN         NaN                               0.192747
10         NaN         NaN         NaN                               0.173891
11         NaN         NaN         NaN                               0.256903
12         NaN         NaN         NaN                               0.790662
13         NaN         NaN         NaN                               0.558927
14         NaN         NaN         NaN                               0.036697
15         NaN         NaN         NaN                               0.434829
16         NaN         NaN         NaN                               0.925647
17         NaN         NaN         NaN                               0.085392
18         NaN         NaN         NaN                               0.424134
19         NaN         NaN         NaN                               0.199393
20         NaN         NaN         NaN                                0.24813
21         NaN         NaN         NaN                               0.355641

   Unnamed: 4
0         NaN
1         NaN
2         NaN
3         NaN
4           Y
5    0.916826
6    0.675336
7    0.975685
8    0.195164
9    0.089876
10   0.292433
11    0.24113
12   0.421155
13   0.528088
14   0.740989
15   0.585719
16   0.578595
17    0.62102
18   0.511223
19     0.8332
20   0.682089
21   0.147124  >

In [70]:
data.describe()

       Unnamed: 0  Unnamed: 1  Unnamed: 2
count         0.0         0.0         0.0
mean          NaN         NaN         NaN
std           NaN         NaN         NaN
min           NaN         NaN         NaN
25%           NaN         NaN         NaN
50%           NaN         NaN         NaN
75%           NaN         NaN         NaN
max           NaN         NaN         NaN

In [71]:
data.shape

(22, 5)

In [72]:
type(data)

pandas.core.frame.DataFrame